<form action='/contact/contact.php' method='POST' name='contactform'>
  <p>
    <label for='name'>Name:</label>
    <br>
    <input name='name' type='text' value="<?php echo $_POST['name'] ?>" />
  </p>
  <p>
    <label for='email'>Email Address:</label>
    <br>
    <input name='email' type='text' value="<?php echo $_POST['email'] ?>" />
    <br>
  </p>
  <p>
    <label for='email'>Phone Number:</label>
    <br>
    <input name='tel' type='text'  value="<?php echo $_POST['tel'] ?>" />
    <br>
  </p>
  <p>
    <label for='message'>Message:</label>
    <br>
    <textarea name='message' rows='10'><?php echo $_POST['message'] ?></textarea>
  </p>
  <input name='Submit' type='submit' value='Submit'>
  <br>
</form>
