.profile_description
  %p
    Watch out sex kittens, word on the street is there's a new cat in town called Disco Panther. They've been diggin in the crates and found hidden Funk Disco gems from East to West Coast, Europe and our very own shores. Disco Panther are new to the UK Funk scene and between them they've been causing a stir with powerful ass moving performances.
    
- data.panthers.each_with_index do |panther, index|
  .profile{:id => panther["name"].gsub(' ',''), :class => (index%2 == 0 ? "even" : "odd")}
    %img.profile{:src => "/images/panthers/images/#{panther['name'].gsub(' ','')}.png", :width => '180px' }
    .description
      %h1=panther["name"]
      %p.latin=panther["latin"]
      %p=panther["bio"]
      - if panther.has_key?("fb_event")
        %a.fb_event{:href => "https://www.facebook.com/events/#{panther["fb_event"]}" }
      - if panther.has_key?("website")
        %a.website{:href => panther["website"]}= "Visit Website"
