.profile_description
  %p
    Way back in 2012, some cats stumbled upon each other and felt compelled to show the world what a good time should be: Sexy and damn right Groovy. Unfortunately, as individuals, they had no power to do so, and were overshadowed by other "Music" (such as pop, dubstep and metal). What could they do? Mightily morph into a single big cat....... Enter DISCO PANTHER
    
- data.panthers.each_with_index do |panther, index|
  .profile{:class => (index%2 == 0 ? "even" : "odd")}
    %img.profile{:src => "/images/panthers/images/#{panther['name'].gsub(' ','')}.png", :width => '180px' }
    .description
      %h1=panther["name"]
      %p.latin=panther["latin"]
      %p=panther["bio"]
      - if panther.has_key?("fb_event")
        %a.fb_event{:href => "https://www.facebook.com/events/#{panther["fb_event"]}" }
      - if panther.has_key?("website")
        %a.website{:href => panther["website"]}= "Visit Website"