.imageRow
  .set
  - Dir['source/images/gallery/large/*'].each do |path|
    - filename = File.basename(path)
    .single
      %a{ :href => "images/gallery/large/#{filename}", :rel => "lightbox[plants]", :title => "Click on the right side of the image to move forward." }
        %img{ :src => "images/gallery/thumbs/#{filename}" }