%p
  click an image to enlarge
#imageGallery
  - Dir['source/images/gallery/large/*'].each do |path|
    - filename = File.basename(path)
    %a{ :href => "/images/gallery/large/#{filename}", :rel => "lightbox[plants]", :title => "Click on the right side of the image to move forward." }
      %img{ :src => "/images/gallery/thumbs/#{filename}" }

:javascript
  $(function() {
  	$("#imageGallery a").fancybox();
  });