.media_player

%iframe{:allowfullscreen => "allowfullscreen", :frameborder => "0", :height => "450", :src =>"http://www.youtube.com/embed/9AEObTfu3gE?list=PL57A669F4BB95EB4B&amp;hl=en_GB&showinfo=1", :style => "border: 2px solid white; margin: 29px 0px;", :width => "800"}
%iframe{:allowfullscreen => "allowfullscreen", :frameborder => "0", :height => "450", :src => "http://www.youtube.com/embed/7tj-Ozf2PmY", :style => "border: 2px solid white; margin: 29px 0px;", :width => "800"}